<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cailanzi.mapper.UserMapper">

    <select id="comgridList" resultType="com.cailanzi.pojo.entities.User">
        SELECT username,belong_station_no belongStationNo,belong_station_name belongStationName FROM `user`
        WHERE type <![CDATA[ <> ]]> 0
    </select>

    <select id="selectByUsername" resultType="com.cailanzi.pojo.entities.User">
        SELECT username,password,sign,type,belong_station_no belongStationNo,belong_station_name belongStationName,
        open_id openId,session_key sessionKey,remark remark,create_time createTime
        FROM `user`
        WHERE username = #{username}
        <if test="type==null">
            AND type <![CDATA[ <> ]]> 0
        </if>
        <if test="type!=null">
            AND type = #{type}
        </if>
    </select>

    <update id="updateOpenIdAndSessionKeyByUsername">
        UPDATE user SET open_id = #{openId},session_key=#{sessionKey}
        WHERE username = #{username} AND type <![CDATA[ <> ]]> 0
    </update>

</mapper>