<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cailanzi.mapper.OrderShopMapper">

    <select id="getOrderShopPageList" resultType="com.cailanzi.pojo.entities.OrderShop">
        SELECT id,username,belong_station_no belongStationNo,order_id orderId,sku_id skuId,order_status orderStatus,
        sku_name skuName,sku_count skuCount,sku_price skuPrice,sku_status skuStatus,create_time createTime,update_time updateTime
        FROM order_shop
        <where>
            <if test="username!=null and username.trim()!=''">
                AND username =#{username}
            </if>
            <if test="orderId!=null and orderId.trim()!=''">
                AND order_id =#{orderId}
            </if>
        </where>
    </select>

    <update id="updateProductStatus">
        UPDATE order_shop SET sku_status = #{skuStatus},update_time = #{updateTime}
        WHERE order_id = #{orderId} AND username = #{username} AND sku_id = #{skuId}
    </update>

    <update id="updateProductStatusToDelivery">
        UPDATE order_shop SET sku_status = 1,update_time = #{updateTime}
        WHERE order_id = #{orderId} AND username = #{username} AND sku_status = 0
    </update>

    <update id="updateOrderStatus">
         UPDATE order_shop SET order_status = #{orderStatus},update_time = #{updateTime}
        WHERE order_id = #{orderId}
        <if test="username!=null and username.trim()!=''">
            AND username = #{username}
        </if>
    </update>

    <!--
    备货员端 获取待备货/待收货/待配送/已完成/退货订单
    -->
    <select id="getOrderShopList" resultType="OrderUnion">
        SELECT a.order_id orderId,a.order_num orderNum,b.sku_id skuId,b.sku_name skuName,
        b.sku_count skuCount,b.sku_price skuStorePrice,b.sku_status skuStatus,
        a.order_buyer_remark orderBuyerRemark,a.create_time createTime,c.img_url imgUrl
        FROM order_jd a
        JOIN order_shop b ON b.order_id=a.order_id AND b.username = #{username}
        JOIN product_jd c ON c.sku_id=b.sku_id
        WHERE a.produce_station_no = #{belongStationNo} AND b.order_status = #{orderStatus}
        <if test="startTime != null and endTime != null">
            AND a.create_time BETWEEN #{startTime} AND #{endTime}
        </if>
    </select>

    <select id="getProductStatus" resultType="com.cailanzi.pojo.entities.OrderShop">
        SELECT sku_id skuId,`status` FROM order_shop
        WHERE sku_id IN
        <foreach collection="skuIds" separator="," item="temp" open="(" close=")">
            #{temp}
        </foreach>
        AND order_id = #{orderId}
    </select>

    <select id="getOutReadyStatusOrderIdsOfOrderShop" resultType="java.lang.String">
        SELECT DISTINCT order_id FROM order_shop
        WHERE order_id IN
        <foreach collection="orderIds" separator="," item="temp" open="(" close=")">
            #{temp}
        </foreach>
        AND username = #{username}
        AND `status` <![CDATA[ <> ]]> #{status}
    </select>

    <select id="getOrderShopListInitData" resultType="com.cailanzi.pojo.entities.OrderShop">
        SELECT a.phone username,a.belong_station_no belongStationNo,a.sku_id skuId,a.`name` skuName,
                a.price skuPrice,b.sku_count skuCount,b.order_id orderId
        FROM product a
        JOIN product_order_jd b ON b.sku_id = a.sku_id AND b.order_id = #{orderId}
        JOIN order_jd c ON c.order_id = b.order_id AND c.produce_station_no = a.belong_station_no
    </select>

</mapper>