<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cailanzi.mapper.OrderMapper">

    <select id="getOrderProductList" resultType="OrderUnion">
        SELECT id,sku_id skuId,sku_name skuName,sku_jd_price skuJdPrice,sku_count skuCount,
        sku_store_price skuStorePrice,sku_cost_price skuCostPrice,sku_weight skuWeight,
        sku_status skuStatus,order_id orderId
        FROM  product_order_jd
        <where>
            <if test="orderId!=null and orderId.trim()!=''">
                AND order_id = #{orderId}
            </if>
        </where>
    </select>

    <!--
    收货员端 获取待备货/待收货/待配送/已完成/退货订单
    -->
    <select id="getOrderShopJdList" resultType="OrderUnion">
        SELECT a.order_id orderId,a.order_num orderNum,b.sku_id skuId,b.sku_name skuName,
        b.sku_count skuCount,b.sku_store_price skuStorePrice,b.sku_status skuStatus,a.update_time updateTime,
        a.order_buyer_remark orderBuyerRemark,a.create_time createTime,c.img_url imgUrl
        FROM order_jd a
        JOIN product_order_jd b ON b.order_id=a.order_id
        JOIN product_jd c ON c.sku_id=b.sku_id
        WHERE a.produce_station_no = #{belongStationNo} AND a.`status` = #{orderStatus}
        <if test="startTime != null and endTime != null">
            AND a.update_time BETWEEN #{startTime} AND #{endTime}
        </if>
    </select>

</mapper>